{
  "env": {
    "node": 1,
    "browser": 1
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-multiple-empty-lines": ["error",{ "max": 0, "maxEOF": 1 }]
  }
}
