{
  "env": {
    "node": 1,
    "browser": 1
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "padding-line-between-statements": [
      "error",
      {"blankLine": "always", "prev": "import", "next": "*"},
      {"blankLine": "any", "prev": "import", "next": "import"}
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowUnboundThis": false
      }
    ],
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": true,
        "classPropertiesAllowed": false
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all"
      }
    ],
    "curly": ["error", "all"],
    "no-var": ["error"],
    "prefer-const": ["error"]
  },
  "plugins": [
    "prefer-arrow"
  ]
}
